# Этот файл является шаблоном и не загружается Spring Boot автоматически.
PORT=8080
DB_NAME=hotel_spring
DB_PORT=5432
DB_URL=jdbc:postgresql://localhost:5432/hotel_spring
DB_USERNAME=postgres
DB_PASSWORD=postgres
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true
SESSION_TIMEOUT=30m
SESSION_SCHEMA_INITIALIZATION=always
SESSION_SCHEMA_CONTINUE_ON_ERROR=true
